.form-range {
  &:focus {
    box-shadow: none;
    &::-webkit-slider-thumb {
      box-shadow: none;
    }
    &::-moz-range-thumb {
      box-shadow: none;
    }
    &::-ms-thumb {
      box-shadow: none;
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    margin-top: $form-range-webkit-slider-thumb-margin-top;
    box-shadow: none;
    appearance: none;
  }

  &::-webkit-slider-runnable-track {
    height: $form-range-webkit-slider-runnable-track-height;
    border-radius: 0;
  }

  &::-moz-range-thumb {
    box-shadow: none;
    appearance: none;
  }
}
